@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <h3 class="display-3">Welcome to StudentOrganizer</h3>
        <hr />
    </div>
</div>

<form>
    <div class="row mt-3">
        <div class="col-12">
            <h5>Add Students</h5>
        </div>
    </div>
    
    <div class="row mt-1">
        <div class="col-4">
            <a class="btn btn-primary" asp-controller="Home" asp-action="UploadStudents">Upload Students</a>
        </div>
    </div>
</form>