@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <h1 class="display-2">Welcome to Student Organizer</h1>
    </div>
</div>
<form>
    <div class="row mt-3">
        <div class="col-8">
            <div class="form-group">
                <label for="exampleFormControlFile1">Please select the xlsx file to get started: </label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-4">
            <button type="button" class="btn btn-primary" onclick="openSpreadsheet()">Load Students</button>
        </div>
    </div>
</form>

