@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <h1 class="display-2">Welcome to Student Organizer</h1>
    </div>
</div>
<form> @*<form method="post">*@
    <div class="row mt-3">
        <div class="col-12">
            <h4 class="display-2">Add Students</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label for="exampleFormControlFile1">Please select the xlsx file: </label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-4">
            <a class="btn btn-primary" asp-controller="Home" asp-action="UploadStudents">Load Students</a>
            @*<a type="button" class="btn btn-primary" asp-controller="Home" asp-action="UploadStudents">Load Students</a>*@
            <input type="submit" value="Load Students" />
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <a asp-controller="StudentController" asp-action="StudentView"></a>
        </div>
    </div>
</form>

<script 
